In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [ ]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "0a5b3645-3454-4ab8-9da6-7731cb481bd2",
"fs.azure.account.oauth2.client.secret": '0Dm8Q~7MFrbqE-dF.NrP323k.qNuqqpssXACAb.J',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/a61bc590-8f53-4ebf-b9fa-f9cf8dee6d66/oauth2/token"}


dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokyoolympicdatasa.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolymic",
extra_configs = configs)

In [ ]:
%fs
ls "/mnt/tokyoolymic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/,raw-data/,0,1692078533000
dbfs:/mnt/tokyoolymic/transformed-data/,transformed-data/,0,1692078546000

In [ ]:
spark

In [ ]:
athletes=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/athletes.csv")
coaches=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/coaches.csv")
EntriesGender=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/EntriesGender.csv")
Medals=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/Medals.csv")
Teams=spark.read.format("csv").option("header","true").load("/mnt/tokyoolymic/raw-data/Teams.csv")

In [ ]:
athletes.show()

+--------------------+--------------------+-------------------+
|                Name|                 NOC|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
athletes.printSchema()

root
 |-- Name: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [ ]:
coaches.show()

+--------------------+--------------------+-----------------+--------+
|                Name|                 NOC|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    null|
|           ABE Junya|               Japan|       Volleyball|    null|
|       ABE Katsuhiko|               Japan|       Basketball|    null|
|        ADAMA Cherif|       Cï¿½te d'Ivoire|         Football|    null|
|          AGEBA Yuya|               Japan|       Volleyball|    null|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball|    null|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football|    null|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball|    null|
|    AMO AGUADO Pablo|               Spain|         Football|    null|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

In [ ]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [ ]:
EntriesGender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [ ]:
EntriesGender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)

In [ ]:


EntriesGender = EntriesGender.withColumn("Female",col("Female").cast(IntegerType()))\
    .withColumn("Male",col("Male").cast(IntegerType()))\
    .withColumn("Total",col("Total").cast(IntegerType()))

In [ ]:
EntriesGender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [ ]:
Medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|            Team/NOC|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [ ]:
Medals.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Team/NOC: string (nullable = true)
 |-- Gold: string (nullable = true)
 |-- Silver: string (nullable = true)
 |-- Bronze: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Rank by Total: string (nullable = true)

In [ ]:
Medals = Medals.withColumn("Rank",col("Rank").cast(IntegerType()))\
    .withColumn("Gold",col("Gold").cast(IntegerType()))\
    .withColumn("Silver",col("Silver").cast(IntegerType()))\
    .withColumn("Bronze",col("Bronze").cast(IntegerType()))\
    .withColumn("Total",col("Total").cast(IntegerType()))\
    .withColumn("Rank by Total",col("Rank by Total").cast(IntegerType()))

In [ ]:
Medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team/NOC: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [ ]:
Teams.show()

+-------------+--------------+--------------------+------------+
|         Name|    Discipline|                 NOC|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [ ]:
Teams.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Event: string (nullable = true)

In [ ]:
# Find the top countries with the highest number of gold medals
top_gold_medal_countries = Medals.orderBy("Gold", ascending=False).show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|            Team/NOC|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [ ]:
#Athletes Table:
#-Count the number of athletes per country (NOC).
#-Count the number of athletes per discipline.
#-Identify countries with the most diverse participation (in terms of number of disciplines).

In [ ]:
from pyspark.sql.functions import countDistinct

# Number of athletes per country
athletes.groupBy("NOC").count().orderBy("count", ascending=False).show()

+--------------------+-----+
|                 NOC|count|
+--------------------+-----+
|United States of ...|  615|
|               Japan|  586|
|           Australia|  470|
|People's Republic...|  401|
|             Germany|  400|
|              France|  377|
|              Canada|  368|
|       Great Britain|  366|
|               Italy|  356|
|               Spain|  324|
|                 ROC|  318|
|              Brazil|  291|
|         Netherlands|  274|
|   Republic of Korea|  223|
|         New Zealand|  202|
|              Poland|  195|
|           Argentina|  180|
|        South Africa|  171|
|              Mexico|  155|
|             Hungary|  155|
+--------------------+-----+
only showing top 20 rows

In [ ]:
# Number of athletes per discipline
athletes.groupBy("Discipline").count().orderBy("count", ascending=False).show()

+-----------------+-----+
|       Discipline|count|
+-----------------+-----+
|        Athletics| 2068|
|         Swimming|  743|
|         Football|  567|
|           Rowing|  496|
|           Hockey|  406|
|             Judo|  373|
|         Handball|  343|
|         Shooting|  342|
|          Sailing|  336|
|     Rugby Sevens|  283|
|       Basketball|  280|
|        Wrestling|  279|
|       Volleyball|  274|
|           Boxing|  270|
|       Water Polo|  269|
|          Fencing|  249|
|       Equestrian|  237|
|     Canoe Sprint|  236|
|Baseball/Softball|  220|
|    Cycling Track|  208|
+-----------------+-----+
only showing top 20 rows

In [ ]:
# Countries with the most diverse participation
athletes.groupBy("NOC") \
        .agg(countDistinct("Discipline").alias("distinct_disciplines")) \
        .orderBy("distinct_disciplines", ascending=False) \
        .show()

+--------------------+--------------------+
|                 NOC|distinct_disciplines|
+--------------------+--------------------+
|               Japan|                  46|
|United States of ...|                  44|
|              France|                  41|
|           Australia|                  41|
|People's Republic...|                  41|
|              Canada|                  40|
|               Italy|                  39|
|                 ROC|                  39|
|             Germany|                  37|
|               Spain|                  36|
|       Great Britain|                  35|
|   Republic of Korea|                  31|
|           Argentina|                  31|
|              Mexico|                  31|
|              Brazil|                  31|
|         Netherlands|                  31|
|             Ukraine|                  28|
|              Poland|                  28|
|               Egypt|                  27|
|      Czech Republic|                  26|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#Coaches Table:
#-Count of coaches per country.
#-Identify disciplines with the highest number of coaches.

In [ ]:
# Number of coaches per country
coaches.groupBy("NOC").count().orderBy("count", ascending=False).show()

+--------------------+-----+
|                 NOC|count|
+--------------------+-----+
|               Japan|   35|
|               Spain|   28|
|United States of ...|   28|
|           Australia|   22|
|              Canada|   16|
|               Italy|   14|
|People's Republic...|   12|
|               Egypt|   12|
|        South Africa|   12|
|                 ROC|   12|
|           Argentina|   11|
|              France|   10|
|           Venezuela|   10|
|         Netherlands|   10|
|             Nigeria|    9|
|             Germany|    9|
|              Mexico|    8|
|         New Zealand|    8|
|       Great Britain|    7|
|   Republic of Korea|    7|
+--------------------+-----+
only showing top 20 rows

In [ ]:
# Disciplines with the most number of coaches
coaches.groupBy("Discipline").count().orderBy("count", ascending=False).show()

+-----------------+-----+
|       Discipline|count|
+-----------------+-----+
|       Basketball|   74|
|Artistic Swimming|   69|
|         Football|   59|
|       Volleyball|   45|
|           Hockey|   45|
|         Handball|   29|
|Baseball/Softball|   26|
|     Rugby Sevens|   25|
|       Water Polo|   22|
+-----------------+-----+

In [ ]:
#EntriesGender Table:
#-Compare male and female participation in each discipline.
#-Identify disciplines with the highest gender disparity.

In [ ]:
from pyspark.sql.functions import abs
# Compare male vs. female participation
EntriesGender.select("Discipline", "Male", "Female").show()

+--------------------+----+------+
|          Discipline|Male|Female|
+--------------------+----+------+
|      3x3 Basketball|  32|    32|
|             Archery|  64|    64|
| Artistic Gymnastics|  98|    98|
|   Artistic Swimming|   0|   105|
|           Athletics|1072|   969|
|           Badminton|  87|    86|
|   Baseball/Softball| 144|    90|
|          Basketball| 144|   144|
|    Beach Volleyball|  48|    48|
|              Boxing| 187|   102|
|        Canoe Slalom|  41|    41|
|        Canoe Sprint| 126|   123|
|Cycling BMX Frees...|   9|    10|
|  Cycling BMX Racing|  24|    24|
|Cycling Mountain ...|  38|    38|
|        Cycling Road| 131|    70|
|       Cycling Track|  99|    90|
|              Diving|  71|    72|
|          Equestrian| 125|    73|
|             Fencing| 108|   107|
+--------------------+----+------+
only showing top 20 rows

In [ ]:
# Disciplines with the most gender disparity
EntriesGender.withColumn("Gender Disparity", abs(EntriesGender.Male - EntriesGender.Female)).orderBy("Gender Disparity", ascending=False).show()

+--------------------+------+----+-----+----------------+
|          Discipline|Female|Male|Total|Gender Disparity|
+--------------------+------+----+-----+----------------+
|   Artistic Swimming|   105|   0|  105|             105|
|           Athletics|   969|1072| 2041|             103|
|           Wrestling|    96| 193|  289|              97|
| Rhythmic Gymnastics|    96|   0|   96|              96|
|              Boxing|   102| 187|  289|              85|
|            Football|   264| 344|  608|              80|
|        Cycling Road|    70| 131|  201|              61|
|            Swimming|   361| 418|  779|              57|
|   Baseball/Softball|    90| 144|  234|              54|
|          Equestrian|    73| 125|  198|              52|
|          Water Polo|   122| 146|  268|              24|
|       Cycling Track|    90|  99|  189|               9|
|                Judo|   192| 201|  393|               9|
|              Rowing|   257| 265|  522|               8|
|        Rugby Sevens|   146| 151|  297|               5|
|        Canoe Sprint|   123| 126|  249|               3|
|              Tennis|    94|  97|  191|               3|
|              Karate|    40|  42|   82|               2|
|           Badminton|    86|  87|  173|               1|
|Cycling BMX Frees...|    10|   9|   19|               1|
+--------------------+------+----+-----+----------------+
only showing top 20 rows

In [ ]:
#Medals Table:
#-Countries with the highest number of gold medals.
#-Countries with the highest total medals.
#-Disciplines in which a particular country (say, USA) won the most gold medals.

In [ ]:
# Countries with the most gold medals
Medals.orderBy("Gold", ascending=False).select("Team/NOC", "Gold").show()

+--------------------+----+
|            Team/NOC|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|              Canada|   7|
|              Brazil|   7|
|         New Zealand|   7|
|                Cuba|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|              Poland|   4|
|      Czech Republic|   4|
|               Kenya|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [ ]:
# Countries with the most total medals
Medals.orderBy("Total", ascending=False).select("Team/NOC", "Total").show()

+--------------------+-----+
|            Team/NOC|Total|
+--------------------+-----+
|United States of ...|  113|
|People's Republic...|   88|
|                 ROC|   71|
|       Great Britain|   65|
|               Japan|   58|
|           Australia|   46|
|               Italy|   40|
|             Germany|   37|
|         Netherlands|   36|
|              France|   33|
|              Canada|   24|
|              Brazil|   21|
|         New Zealand|   20|
|             Hungary|   20|
|   Republic of Korea|   20|
|             Ukraine|   19|
|               Spain|   17|
|                Cuba|   15|
|              Poland|   14|
|         Switzerland|   13|
+--------------------+-----+
only showing top 20 rows

In [ ]:
#Teams Table:
#-Count of teams per country.
#-Identify disciplines with the highest number of teams.

In [ ]:
# Number of teams per country
Teams.groupBy("NOC").count().orderBy("count", ascending=False).show()

+--------------------+-----+
|                 NOC|count|
+--------------------+-----+
|               Japan|   48|
|United States of ...|   47|
|               Italy|   37|
|             Germany|   36|
|           Australia|   35|
|                 ROC|   34|
|              France|   33|
|People's Republic...|   33|
|              Canada|   30|
|       Great Britain|   28|
|         Netherlands|   27|
|              Brazil|   25|
|              Poland|   21|
|               Spain|   20|
|   Republic of Korea|   19|
|             Hungary|   14|
|         New Zealand|   13|
|         Switzerland|   12|
|               Egypt|   12|
|        South Africa|   12|
+--------------------+-----+
only showing top 20 rows

In [ ]:
# Disciplines with the most number of teams
Teams.groupBy("Discipline").count().orderBy("count", ascending=False).show()

+-------------------+-----+
|         Discipline|count|
+-------------------+-----+
|           Swimming|  113|
|          Athletics|   79|
|      Cycling Track|   64|
|            Archery|   53|
|            Fencing|   52|
|   Beach Volleyball|   48|
|       Table Tennis|   48|
|  Artistic Swimming|   32|
|           Football|   28|
|         Basketball|   24|
|           Handball|   24|
|       Rugby Sevens|   24|
|Artistic Gymnastics|   24|
|         Volleyball|   24|
|             Hockey|   24|
|         Water Polo|   22|
|          Triathlon|   18|
|     3x3 Basketball|   16|
|Rhythmic Gymnastics|   14|
|  Baseball/Softball|   12|
+-------------------+-----+

In [ ]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/tokyoolymic/transformed-data/athletes")
coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/coaches")
EntriesGender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/entriesgender")
Medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/medals")
Teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/teams")